# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Spotlight
.Spotlight-V100
.Trashes

# Files that might appear on external disks
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
